.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text {
    display: flex;
    align-items: center;
    column-gap: 24px;
}
.text li {
    list-style: none;
}
.text a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    line-height: 22px;
}
.btn {
    display: none;
}
.button {
    display: none;
}



@media(max-width: 576px) {
    .text {
    flex-direction: column;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100vh;
    background: gold;
    top: 0;
    left: 0;
    transform: translateX(120%);
    transition: all 0.4s ease;
    }
    .back_text {
        transform: translateX(0);

    }
    .btn {
        display: block;
    }
    .button {
        display: block;
    }
}